@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  opacity: 0.5 !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 10px !important;
  height: 10px !important;
}

@layer base {
  #layout-Root {
    --primary: #ff5ca0;
    --sub: #553441;
    --error: #ec323e;
    --background: #212529;
    --gray-accent1: #2d3033;
    --gray-accent2: #3d3f41;
    --gray-accent3: #636363;
    --gray-accent4: #868686;
  }
}

ul > button:last-child {
  border-bottom: none;
}

#drawer-content::after {
  content: none;
}

/* 폰트 */
@layer components {
  .font-h1-sm {
    @apply text-[24px] font-semibold leading-[36px];
  }
  .font-h2-sm {
    @apply text-[20px] font-semibold leading-[30px];
  }
  .font-h3-sm {
    @apply text-[16px] font-semibold leading-[24px];
  }
  .font-h4-sm {
    @apply text-[14px] font-semibold leading-[22px];
  }
  .font-title-1-md {
    @apply text-[14px] font-medium leading-[18px];
  }
  .font-title-2-sm {
    @apply text-[12px] font-semibold leading-[16px];
  }
  .font-text-1-rg {
    @apply text-[14px] font-regular leading-[18px];
  }
  .font-text-2-md {
    @apply text-[12px] font-medium leading-[16px];
  }
  .font-text-3-rg {
    @apply text-[12px] font-regular leading-[16px];
  }
  .font-text-4-rg {
    @apply text-[10px] font-regular leading-[14px];
  }
}

input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

input[type='datetime-local']::-webkit-datetime-edit-year-field,
input[type='datetime-local']::-webkit-datetime-edit-month-field {
  color: white; /* 텍스트 색상 */
}
