@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  opacity: 0.5 !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 10px !important;
  height: 10px !important;
}

@layer base {
  #layout-Root {
    --primary: #ff614b;
    --sub: #53251d;
    --error: #ec323e;
    --background: #121212;
    --dark-accent1: #1e1e1e;
    --dark-accent2: #333333;
    --gray-accent1: #777777;
    --gray-accent2: #a2a2a2;
    --grass-100: #f4fce3;
    --grass-200: #d8f5a2;
    --grass-300: #94d82d;
    --grass-400: #94d82d;
    --grass-500: #5c940d;
  }
}

ul > button:last-child {
  border-bottom: none;
}

#drawer-content::after {
  content: none;
}

/* 폰트 */
@layer components {
  .font-h1-sm {
    @apply text-[24px] font-semibold leading-[36px];
  }
  .font-h2-sm {
    @apply text-[20px] font-semibold leading-[30px];
  }
  .font-h3-sm {
    @apply text-[16px] font-semibold leading-[24px];
  }
  .font-h4-sm {
    @apply text-[14px] font-semibold leading-[22px];
  }
  .font-title-1-md {
    @apply text-[14px] font-medium leading-[18px];
  }
  .font-title-2-sm {
    @apply text-[12px] font-semibold leading-[16px];
  }
  .font-text-1-rg {
    @apply text-[14px] font-regular leading-[18px];
  }
  .font-text-2-md {
    @apply text-[12px] font-medium leading-[16px];
  }
  .font-text-3-rg {
    @apply text-[12px] font-regular leading-[16px];
  }
  .font-text-4-rg {
    @apply text-[10px] font-regular leading-[14px];
  }
}
