@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  opacity: 0.5 !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 10px !important;
  height: 10px !important;
}

@layer base {
  #layout-Root {
    --primary-1: #c7b299;
    --primary-2: #675640;
    --gray-1: #f0f0f0;
    --gray-2: #999999;
    --gray-3: #333333;
    --dark-1: #343a40;
    --dark-2: #212529;
  }
}
